@model IEnumerable<Fiszki.Models.LearnStatus>

@{
    ViewBag.Title = "Nauka";
}

<h2>Tryb nauki</h2>
<div style="float: left; ">
    <p>Wyświetl:</p>
    <div class="filter btn" data-filter="all">wszystkie</div>
    <div class="filter btn" data-filter=".views0">nieoceniane</div>
</div>
<div style="float:right; text-align; right;">
    <p>Sortuj wg następnego wystąpienia:</p>
    <div class="sort btn" data-sort="default">Domyślnie</div>
    <div class="sort btn" data-sort="myorder:asc">rosnąco</div>
    <div class="sort btn" data-sort="myorder:desc">malejąco</div>
    <div class="sort btn" data-sort="random">Losowo</div>
</div>

<div id="Container" style="clear:both;">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="mix col-md-4 views@(item.Views)" data-myorder="@(item.NextOccurrence)" style="height: 200px;">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Html.DisplayFor(modelItem => item.Card.PlWord)</h3>
                    </div>
                    <div class="panel-body">
                        <a class="show btn btn-primary">Tłumaczenie</a>
                        <div class="answer">
                            <h3>
                                @Html.DisplayFor(modelItem => item.Card.EngWord)
                            </h3>
                            <div class="btn-group btn-group-justified">
                                <button id="@item.Card.ID" class="true btn btn-success">Umiem</button>
                                <button id="@item.Card.ID" class="false btn btn-danger">Nie Umiem</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>